.container {
    font-family: 'Noto Sans', sans-serif;

}
div h3 a{

    text-decoration: none;
    color: black;
}
div h3{
    margin-top: revert;
}
h3 {
    text-align: center;

}
th {
    height: 30px;
    text-align: center;
}
td {
    height: 100px;
}
.today {
    background: #c1e0b8;
}
th:nth-of-type(1), td:nth-of-type(1) {
    color: #f85858;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: #4f4ff6;
}
.ignore{
    opacity: 0.2;

}