html, body {

    margin: 0;
    padding: 0;
}

.header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 150px 0;
    font-size: 60px;
    position: relative;
    z-index: -1;


}
header h1{
    padding: 15px;
}


div a{
    text-decoration: none;
    color: white;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    margin-top: 90px;


}
.cheiasol{
    height: 80px;
    border-radius: 50%;
}

.imagine{
    height: 48px;
}

.dropbtn {
    background: none;
    padding: 14px 16px;
    border: none;
    color: white;
    text-align: center;



}

.dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.dropdown-content a {
    color:black;
    padding: 12px;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (min-width: 657px) {
    .header {
        font-size: 80px;
    }
}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 970px) {
    .header {
        font-size: 30px;
    }
}


@media screen and (max-width: 840px) {
    .cheiasol {
        height: 60px;
    }
}
@media screen and (min-width: 1000px) {
    .row  {
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px) {
    .row  {
       flex-direction: column;
    }
}
@media screen and (min-width: 1000px) {
    .column-width {
        width: 33.33%;
    }
}
@media screen and (max-width: 1000px) {
    .column-width  {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .nav a {
        text-align: center;
    }
}




