.user-profile {
    padding: 20px;
    text-align: center;
    border: black;
    background-color: white;
    box-shadow: gray;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
}

.user-profile p {
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}

.user-profile p span {
    color: red;
}

.user-profile .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.btn1{
    background-color: blue;
    margin-top: 10px;
}

.delete-btn{
    background-color: red;
}

.option-btn{
    background-color: orange;
}