html, body {

    margin: 0;
    padding: 0;
}

.header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 130px 0 ;
    font-size: 60px;
    position: relative;
    z-index: -1;

}
header h1{
    padding: 15 px;
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    padding-top: 60px;


}
.cheiasol{
    height: 80px;
    border-radius: 50%;
}
