.center {
    display: block;
    margin: auto;
    border-radius: 50px;
}

.center1{
    display: block;
   margin: auto;
}

.poz{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 1000px) {
    .center1 {
        height: 150px;
    }
}
section{
    padding-top: 20px;
}

    @media screen and (max-width: 1000px) {
    img, .center {
        height: 80px;
    }

}

    @media screen and (max-width: 535px) {
        image, .center{
            height: 60px;
        }
    }


